<div>
  <button
    mat-mini-fab
    color="accent"
    (click)="clear_table()"
    aria-label="Clear Selected lines highlight"
  >
    <mat-icon>autorenew</mat-icon>
  </button>
</div>
<div id="parallel"></div>

<!-- 筛选器 -->

<div [formGroup]="toppings" class="columnFilters">
  <div *ngFor="let item of fields">
    <mat-checkbox [formControlName]="item" (change)="fileds_change()">{{
      item
    }}</mat-checkbox>
  </div>
</div>

<!-- 年份选择器 -->
<div class="year_filter">
  <label for="">{{ start_year }} </label>
  <mat-slider [min]="min_year" [max]="max_year">
    <input
      [(value)]="start_year"
      step="1"
      (valueChange)="start_end_year_change($event)"
      matSliderStartThumb
    />
    <input
      [(value)]="end_year"
      step="1"
      (valueChange)="start_end_year_change($event)"
      matSliderEndThumb
    />
  </mat-slider>
  <label for="">{{ end_year }} </label>
</div>

<div>
  <span class="boldtitle">Research List</span>
  <span> (Automatic update based on the above visualization) </span>
</div>
<app-list [data]="table_data"></app-list>
